.cart-container {
    padding: 200px 0 50px 0 ;
    width: 70%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    .cart-table {
        width: 100%;
        border-collapse: collapse;

        tfoot {
            .total-label {
                font-size: 36px;
                text-align: right;
                padding-top: 30px;
                padding-right: 20px;
                font-weight: bold;
            }
            .total {
                font-size: 36px;
                padding-top: 30px;
                text-align: left;
            }
        }
    }

    .cart-header {
        width: 100%;
        border-bottom: 1px solid darkgrey;

        tr {
            width: 100%;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
        }

        .header-block {
            text-align: left;
            font-weight: bold;
            //text-transform: capitalize;
            &:first-child{
                padding-left: 70px;
                padding-right: 20px;
            }
        }
    }

    .cart-footer {
        width: 100%;
    }

    @media (max-width: 900px) {
        .cart-table tfoot .total,
        .cart-table tfoot .total-label {
            font-size: 32px;
        }
    }
    
    @media (max-width: 850px) {
        
        width: 95%;

        .cart-header {

            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tfoot {
            display: flex;
            
        }
    }
}


.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}