.category_container {
    padding: 150px 20px 0 20px;
    .category_items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
        flex: 0 0 33%;
        .category_item {
            margin: 0 5px 20px 5px;
            .category_image {
                padding-bottom: 10px;
                img {
                    @media (max-width: 675px) {
                        width: 250px;
                        height: 300px;
                    }
                }
            }
            .category_text {
                display: flex;
                .name{
                    padding-right: 10px;
                }
                @media (max-width: 575px) {
                    justify-content: center;
                }
            }
            @media (max-width: 575px) {
                flex:  1 1 100%;
                text-align: center;
                
            }
        }
    }

    .category_title {
        @media (max-width: 575px) {
            text-align: center;
        }
    }
}

